@import "../../styles/variables.scss";

.wrapperQuizContent {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.title {
    width: 100%;
    text-align: start;
}
.img {
    height: 15rem;
    margin-bottom: 2rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .6rem;
}
.disabled {
    background-color: grey;
}